/********************************************
  	AUTHOR:			Irina Adamoaia
   
	LAST MODIFIED:    11-03 2010    	
 *******************************************/ 
 
 
 
/***********************************************************************
  general styling: body, fonts, links, headers, tables, forms etc 
*************************************************************************/
* { 
	padding: 0; 
	margin: 0; 
}

html, body, #wrap {
	min-height: 100% !important;
}

body {
	margin: 0; 	padding: 0;
	font: normal 73%/1.5em 'Trebuchet MS', Tahoma, sans-serif;
	color: #555;
	background: #FFF url(images/bg2.jpg) repeat-x;
	text-align: center;		
}

a { 
	background: inherit; 
	color: #72A545; 
	text-decoration: none; 
}

a:hover { 
	background: inherit; 
	color: #006699; 
	text-decoration: underline; 
}

h1, h2, h3 { 
	font-weight: bold;
	font-family: 'Trebuchet MS', Tahoma, Sans-serif; 
}

h1, h2 { 
	font-size: 1.4em; 
	color: #65944A; 
}

h3 { 
	font-size: 1.2em; 
}

p, h1, h2, h3 {
	margin: 10px 15px;
}
ul, ol {
	margin: 10px 30px;
	padding: 0 15px;		
}

/* start - table */

table {
	border-collapse: collapse;
	margin: 20px 15px;	
	font-weight: bold;
	font-size: 13px;
}

table input {
	margin: 3px;
}

th {
	color: #fff;
	font-size: 14px;
	background: #4d4d4d;
	height: 29px;
	padding-left: 11px;
	padding-right: 11px;
	text-align: center;
	border-left: 1px solid #B6D59A;
	border-bottom: solid 2px #FFF;
}

tr {
	height: 30px;
}

td {
	padding: 3px 11px 3px 11px;
	border-left: 1px solid #FFF;
	border-bottom: solid 1px #ffffff;
}

/****** nth:child funkar ej i IE och funkar ej i combination med col styling ********

tr:nth-child(odd) {
	background: #F8F8F8;
}

tr:nth-child(even) {
	background: #EFEFEF;
}*/
/* end - table */


/* form elements */
form {
	margin: 30px auto;
	padding:30px;
	max-width: 900px;
}

label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}

input {
	padding: 2px;
	border:1px solid #eee;
	font: normal 1em "Trebuchet MS", Tahoma, sans-serif;
	color:#777;
}

input.button { 
	margin: 0; 
	font: bold 1em Arial, Sans-serif; 
	background: #FFF url(images/gradientbg.jpg) repeat-x; 
	padding: 2px 3px; 
	color: #333;	
	border: 1px solid #DADADA;	
}


/***********************
	  LAYOUT
************************/

#header-content, #content, #footer-content {
	width: 770px;
}

/* header */
#header {
	height: 130px;
	text-align: left;	
}
#header-content {	
	margin: 0 auto; 
	padding: 0;
	position: relative;
}
#header-content h1#logo {
	position: absolute;	
	font: bold 45px 'Trebuchet MS', Sans-serif;
	letter-spacing: -2px; 
	color: #494949;
	margin: 0; padding: 0;		
	
	/* change the values of left and top to adjust the position of the logo */
	top: 10px; 
	left: 0px;
}

#header-content h1#logo a {
	text-decoration: none;
	color: #494949;
}
#header-content #slogan {
	position: absolute;	
	font: bold 12px 'Trebuchet Ms', Sans-serif;
	text-transform: none;
	color: #65944A;	
	margin: 0; padding: 0;
	
	/* change the values of left and top to adjust the position of the slogan */
	top: 57px; left: 40px;
}

/* header menu */
#header-content ul {
	position: absolute;
	right: -6px; 
	top: 63px;
	font: bolder 1.3em 'Trebuchet MS', sans-serif;
	color: #FFF;
	list-style: none;
	margin: 0; padding: 0;		
}
#header-content li, #under_header li {
	display: inline;
}
#header-content li a {
	float: left;
	display: block;
	padding: 3px 12px;	
	color: #FFF;
	background-color: #333;
	text-decoration: none;
	border-right: 1px solid #272727;
}
#header-content li a:hover {
	background: #65944A;
	color: #FFF;
}
#header-content li a#active  {
	background: #65944A;
	color: #FFF;
}

#under_header ul {
	position: absolute;
	list-style: none;
	color: #595959;
	top: 100px;	
	right: 230px;
	font-weight: bold;
	float:right;
	margin: 0;
	padding: 0;
}

#under_header li a {
	float: left;
	display: block;
	padding: 3px 12px;	
	color: #FFF;
	background-color: #74A846;
	text-decoration: none;
	border-top: 1px solid #272727;
	border-right: 1px solid #272727;
}

#under_header li a:hover {
	background: #333;
	color: #FFF;
}

#under_header li a#active  {
	background: #333;
	color: #FFF;
}
/* content */

#wrap {
	padding-bottom: 50px;
}

#content-wrap {
	clear: both;
	float: left;
	width: 100%;
}
#content {
	text-align: left;	
	padding: 0;
	margin: 0 auto;	
}
/******* column-classes ********/
.week {
	width: 150px; 
	background: #f5ebf5;
}

.red {
	background: #fce3d8;
}

.green {
	background: #dfecce;
}

.blue {
	background: #e1e8f4;
}

.orange {
	background: #fcecc7;
}

.yellow {
	background: #fdfed3;
}

/* footer */
#footer {
	border-top: 1px solid #c0c0c0;
	background-color: #4d4d4d;
	clear: both;
	margin-top: -50px;
	margin: 0; 
	padding: 10px 0;
	height: 50px;
	font: normal .95em/1.6em 'Trebuchet MS', Tahoma, Arial, sans-serif;
	text-align: left;	
}

#footer h2 {	
	color: #82b165;
	margin-left: 0;
}

#footer p {
	color: #d2d2d2;
	margin: 0 auto;
	width: 400px;
}

#footer-content {	
	margin: 0 auto;
}

#footer-content a {
	text-decoration: none;
	color: #fff;	
}

#footer-content a:hover {
	text-decoration: underline;
	color: #333;
}

/* alignment classes */
.float-left  { float: left; }

.gray  { color: #858585; }



